<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
<footer class="bg-dark" id="contact">
    <div class="footer-div">
        <a href="#" class="fa fa-facebook" data-toggle="tooltip" title="Facebook"></a>
        <a href="#" class="fa fa-twitter" data-toggle="tooltip" title="Twitter"></a>
        <a href="#" class="fa fa-instagram" data-toggle="tooltip" title="Instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color:white;" data-toggle="tooltip" title="Email"><span class="glyphicon  glyphicon-envelope" id="footer_mail"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color:white" data-toggle="tooltip" title="Contact-number"><span class="glyphicon glyphicon-earphone" id="footer_phone"></span></a><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <a href="" target="_blank"
            style="color:white;margin-right: 15px;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color:white;margin-right: 15px;">About-Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" target="_blank"
            style="color:white;margin-right: 15px;">Gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color:white;margin-right: 15px;">Contact-Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color:white;margin-right: 15px;">Location</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <div class="address">
            <p>21 Revolution Street</p>
            <p>Jubliee Hills, Hyderabad</p>
            <p>+1 555 123456</p>
        </div>
    </div>
    <div class="footer-sub">
        Apartment Security management System @All Rights Reserved
    </div>
</footer>
</body>