<div>
    <app-header></app-header>
  </div>


<div class="col-md-6 user-container">
    <h2 class="text-center">Add Guard Salary</h2>
    <form [formGroup]="addSalaryForm" (ngSubmit)="onSubmit()">

        <div class="hidden">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id"
                readonly="true">
        </div>

        <div class="form-group">
            <label for="">Date of Payment:</label>
            <input type="date" formControlName="dateofPayment" class="form-control" [ngClass]="{'is-invalid': submitted && f.dateofPayment.errors}"/>
            <div *ngIf="submitted && f.dateofPayment.errors" class="invalid-feedback">    
                <div *ngIf="f.dateofPayment.errors.required">
                      Date is required
                </div> 
            </div>
        </div>

        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" formControlName="amount" class="form-control" [ngClass]="{'is-invalid': submitted && f.amount.errors}"/>
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">    
                <div *ngIf="f.amount.errors.required">
                      Amount is required
                </div> 
            </div>
        </div>

        <div class="form-group">
            <label for="salaryStatus">Status:</label>
            <!-- <input type="text" formControlName="salaryStatus" placeholder="status" name="status" class="form-control"
                id="status"> -->
                <select name="salaryStatus" formControlName="salaryStatus" class="form-control">
                    <option>---Select---</option>
                    <option *ngFor="let item of statusData" [value]="item">
                      {{item}}
                    </option>
                  </select>
        </div>

        <input type="submit" value="Add Salary" class="btn btn-success">
    </form>
</div>


<div style="margin-top: 530px;">
    <app-footer></app-footer>
</div>