<div class="container">
    <div class="col">
        <div class="card">
            <div class="card-header">{{securityalert.alert}}</div>
            <div class="card-body">
                <div class="card-title">Security Alert Details
                    <div class="card-subtitle">
                        <h4>{{securityalert.alert}}</h4>
                        <h5>{{securityalert.message}}</h5>
                        <h5>{{securityalert.dateTimeOfAlert}}</h5>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onBack()">Back</button>
            </div>
        </div>
    </div>
</div>