<!-- <div class="container">
    <div class="col">
        <div class="card">
            <div class="card-header">{{securityalert.alert}}</div>
            <div class="card-body">
                <div class="card-title">Security Alert Details
                    <div class="card-subtitle">
                        <h4>{{securityalert.alert}}</h4>
                        <h5>{{securityalert.message}}</h5>
                        <h5>{{securityalert.dateTimeOfAlert}}</h5>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onBack()">Back</button>
            </div>
        </div>
    </div>
</div> -->



<div>
    <app-header></app-header>
</div>




<div>
<aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a target="_blank" href="#">
        <img src="assets/images/alertimg.jpg" class="hoverZoomLink">
      </a>
  
      <!-- the username -->
      <h1>
              Alert
            </h1>
  
      <!-- and role or location -->
      <h2 style="margin-bottom: -12px;">
              {{securityalert.alert}}
            </h2>
  
    </header>
  
    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">
      <h3>Details</h3>
      <div style="text-align: left;font-size: 40px;margin-top: 20px;">
        <h6><span style="font-weight: bold;">Alert Message:  </span><span style="color: #FF5722;">{{securityalert.message}}</span></h6>
        <h6 ><span style="font-weight: bold;">Date of Incident:  </span><span style="color: #FF5722;">{{securityalert.dateTimeOfAlert | date:'medium'}}</span></h6>
        <div class="card-footer" style="margin-top: 10px;">
            <button (click)="onBack()" class="btn-info">Back</button>
        </div>
    </div>
    </div>
  </aside>
  </div>



<div style="margin-top: 550px;">
    <app-footer></app-footer>
</div>