<div>
  <app-header></app-header>
</div>


<div class="col-md-6 user-container">
  <h2 class="text-center">Update Vehicle</h2>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="vehicleInTime">Vehicle InTime:</label>
      <input type="datetime-local" formControlName="vehicleInTime" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.vehicleInTime.errors}" />
      <div *ngIf="submitted && f.vehicleInTime.errors" class="invalid-feedback">
        <div *ngIf="f.vehicleInTime.errors.required">
          Vehicle In Time is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="vehicleOutTime">Vehicle OutTime:</label>
      <input type="datetime-local" formControlName="vehicleOutTime" placeholder="vehicleOutTime" name="vehicleOutTime"
        class="form-control" id="vehicleOutTime" [ngClass]="{'is-invalid': submitted && f.vehicleOutTime.errors}" />
      <div *ngIf="submitted && f.vehicleOutTime.errors" class="invalid-feedback">
        <div *ngIf="f.vehicleOutTime.errors.required">
          Vehicle Out Time is required
        </div>
      </div>
    </div>

    <input type="submit" value="Update" class="btn btn-success">
  </form>
</div>


<div style="margin-top: 500px;">
  <app-footer></app-footer>
</div>