<div class="container">
    <div class="col">
        <div class="card">
            <div class="card-header">{{vehicle.owner.userName}}</div>
            <div class="card-body">
                <div class="card-title">Vehicle Details
                    <div class="card-subtitle">
                        <h4>{{vehicle.numberPlate}}</h4>
                        <h5>{{vehicle.vehicleColour}}</h5>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="onBack()">Back</button>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>
</div>