<div>
    <app-header></app-header>
</div>




<div>
    <aside class="profile-card">
        <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
                <img src="assets/images/adminimg.jpg" class="hoverZoomLink">
            </a>

            <!-- the username -->
            <h1>
                {{admin.name | uppercase}}
            </h1>

            <!-- and role or location -->
            <h2 style="margin-bottom: -12px;">
                {{admin.role}}
            </h2>

        </header>

        <!-- bit of a bio; who are you? -->
        <div class="profile-bio">
            <h3>Profile</h3>
            <div style="text-align: left;font-size: 18px;">
                <h6><span style="font-weight: bold;">Admin Id: </span><span style="color: #FF5722;">{{admin.id}}</span>
                </h6>
                <h6><span style="font-weight: bold;">User Name: </span><span
                        style="color: #FF5722;">{{admin.userName}}</span></h6>
                <h6><span style="font-weight: bold;">Email Id: </span><span
                        style="color: #FF5722;">{{admin.emailId}}</span></h6>
                <h6><span style="font-weight: bold;">Mobile Number: </span><span
                        style="color: #FF5722;">{{admin.mobileNumber}}</span></h6>
                <div class="card-footer">
                    <button (click)="onBack()" class="btn-info">Back</button>
                </div>
            </div>
        </div>
    </aside>
</div>



<div style="margin-top: 550px;">
    <app-footer></app-footer>
</div>