<div>
    <app-header></app-header>
</div>



<div class="col-md-6 container">
    <h2 class="text-center">Update Visitor OutTime Form</h2>
    <form [formGroup]="updateVisitorForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="outTime">Visitor Out Time</label>
            <input type="datetime-local" formControlName="outTime" placeholder="outTime" name="outTime"
                class="form-control" id="outTime" [ngClass]="{'is-invalid': submitted && f.outTime.errors}" />
            <div *ngIf="submitted && f.outTime.errors" class="invalid-feedback">
                <div *ngIf="f.outTime.errors.required">
                    Visitor Out Time is required
                </div>
            </div>
        </div>


        <input type="submit" value="Add" class="btn btn-success">
    </form>
</div>


<div style="margin-top: 400px;">
    <app-footer></app-footer>
</div>