<div>
  <app-header></app-header>
</div>


<div class="col-md-6 user-container">
    <h2 class="text-center">Edit Password</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="oldPassword">Enter Old Password:</label>
        <input type="password" formControlName="oldPassword" placeholder="oldPassword" name="oldPassword" class="form-control" id="oldPassword" >
      </div>

      <div class="form-group">
        <label for="newPassword">Enter New Password:</label>
        <input type="password" formControlName="newPassword" placeholder="newPassword" name="newPassword" class="form-control" id="newPassword" >
      </div>
  
      <input type="submit" value="Update" class="btn btn-success">
    </form>
  </div>



  <div style="margin-top: 530px;">
    <app-footer></app-footer>
</div>