<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="home">
    <button (click)=home()><span class="glyphicon glyphicon-home"></span></button>
</div>


<div class="container">
    <div class="left-section">

        <div class="header">
            <h1 class="animation a1">User Registration!</h1>
            <h4 class="animation a2">Register an account</h4>

            <form #form1="ngForm" (ngSubmit)="createUser(form1)">

                <div class="form">

                    <div class="log-in-inputs">
                        <input type="text" [(ngModel)]="user.name" placeholder="Name" name="name"
                            class="form-field animation a3" id="name" required #name="ngModel">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            name is required
                        </div>
                    </div>

                    <div class="log-in-inputs">
                        <input type="text" [(ngModel)]="user.userName" placeholder="User Name" name="userName"
                            class="form-field animation a3" id="userName" required #userName="ngModel">
                        <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
                            Username is required
                        </div>
                    </div>

                    <div class="log-in-inputs">

                        <input type="text" [(ngModel)]="user.mobileNumber" placeholder="Mobile Number"
                            name="mobileNumber" class="form-field animation a4" id="mobileNumber" required
                            #mobileNumber="ngModel">
                        <div [hidden]="mobileNumber.valid || mobileNumber.pristine" class="alert alert-danger">
                            Mobilenumber must have 10 numbers
                        </div>
                    </div>

                    <div class="log-in-inputs">
                        <input type="text" [(ngModel)]="user.emailId" placeholder="Email Id" name="emailId"
                            class="form-field animation a4" id="emailId" required minlength="10" required
                            #emailId="ngModel" email>
                        <div [hidden]="emailId.valid || emailId.pristine" class="alert alert-danger">
                            Invalid Email
                        </div>
                    </div>

                    <div class="log-in-inputs">
                        <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password"
                            class="form-field animation a5" id="password" required minlength="6" #password="ngModel">
                        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                            Password must contain atleast 6 letters
                        </div>
                    </div>

                    <div class="log-in-inputs">
                        <select name="role" class="form-field animation a5" [(ngModel)]="user.role">
                            <option>---Select---</option>
                            <option *ngFor="let item of roleData" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="animation a6" style="width: 290px;">Register</button>
                </div>

            </form>
        </div>
    </div>
    <div class="right-section"></div>
</div>